{
  "extends": ["airbnb", "airbnb/hooks", "prettier"],
  "rules": {
    "no-underscore-dangle": "off",
    "import/prefer-default-export": "off",
    "react/jsx-props-no-spreading": "off",
    "react/prop-types": "off"
  },
  "globals": {
    "window": true,
    "document": true
  },
  "plugins": ["prettier"]
}
